<div class="col-md-4">
	<div class="image_1">
		<%= image_tag("LOGO.gif", :alt => "logotip", :class => 'logo1') %>
	</div>

	<div class="entry">
		<ul>
			<li>
				Izrada novih i obnova starih krovišta
			</li>
			<li>
				Uređenje i izolacija potkrovlja
			</li>
			<li>
				Ugradnja krovnih kučica i prozora
			</li>
			<li>
				Izrada drvenih nadstrešica i terasa
			</li>
			<li class="last_li">
				Spuštanje stropova rigipsom
			</li>
		</ul>
	</div>
</div>
<div class="col-md-8">

	<div id="image_2" class="carousel slide" data-ride="carousel">

		<ol class="carousel-indicators">
			<li data-target="slide_1.jpg" data-slide-to="0" class = "active"></li>
			<li data-target="slide_2.jpg" data-slide-to="1"></li>
			<li data-target="slide_3.jpg" data-slide-to="2"></li>
			<li data-target="slide_4.jpg" data-slide-to="3"></li>
			<li data-target="slide_5.jpg" data-slide-to="4"></li>
			<li data-target="slide_6.jpg" data-slide-to="5"></li>
		</ol>

		<div class="carousel-inner">

			<div class="active item">
				<%= image_tag("slide_1.jpg", :alt => "otkriven krov", :class => 'logo2') %>
			</div>

			<div class="item">
				<%= image_tag("slide_2.jpg", :alt => "poravnati rogovi", :class => 'logo2') %>
			</div>

			<div class="item">
				<%= image_tag("slide_3.jpg", :alt => "trtiranje krovišta", :class => 'logo2') %>
			</div>

			<div class="item">
				<%= image_tag("slide_4.jpg", :alt => "letvanje", :class => 'logo2') %>
			</div>

			<div class="item">
				<%= image_tag("slide_5.jpg", :alt => "pokriven krov", :class => 'logo2') %>
			</div>

			<div class="item">
				<%= image_tag("slide_6.jpg", :alt => "pokriven krov", :class => 'logo2') %>
			</div>

		</div>

		<a class="left carousel-control" href="#image_2" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
		<a class="right carousel-control" href="#image_2" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
	</div>
</div>

