<!DOCTYPE html>
<html lang="hr">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>Pavic Gradnja</title>
		<meta name="description" content="Krovopokrivacki obrt, knauf, podkrovlje...">
		<meta name="author" content="Kronos">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">

		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		

		<!--		<link href="pocetna.css" type="text/css" rel="stylesheet" />
		<link href = "css/bootstrap.min.css" rel = "stylesheet"/>		-->

	</head>

	<body>
		<div class="container">
			<div class="row">

					<header class = "navbar navbar-inverse navbar-fixed-top" role="navigation">

						<div class="headcontainer">

							<a href = "pocetna" class = "navbar-brand">Pavić Gradnja
							<br>
							<p class="moto">
								KROV ZA CIJELI ŽIVOT
							</p> </br> </a>
							<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
								<span class = "icon-bar"></span>
								<span class = "icon-bar"></span>
								<span class = "icon-bar"></span>
							</button>

							<div class ="collapse navbar-collapse navHeaderCollapse">
								<nav>
									<ul class = "nav navbar-nav navbar-right" >
										<li class="<%= is_active_path?(home_path) %>">
											<%= link_to "Početna", home_path %>
										</li>
										<li class="<%= is_active_path?(onama_path) %>">
											<%= link_to "O nama", onama_path %>
										</li>
										<li class="<%= is_active_path?(usluge_path) %> ">
											<%= link_to "Usluge i Savjeti", usluge_path %>
										</li>
										<li class="<%= is_active_path?(galerija_path) %> ">
											<%= link_to "Galerija", galerija_path %>
										</li>
										<li class="<%= is_active_path?(kontakt_path) %>">
											<%= link_to "Kontakt", kontakt_path %>
										</li>

									</ul>
								</nav>
							</div>
						</div>

					</header>

			</div>

			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<%= yield %>

				</div>

			</div>
			<div class="row">
				<footer class="navbar navbar-inverse navbar-fixed-bottom">

					<p class ="navbar-text">
						&copy; All rights reserved | Kronos
					</p>

				</footer>
			</div>
		</div>

		<script src = "http://code.jquery.com/jquery-1.10.2.min.js"></script>

	</body>
</html>

